<footer class="bg-dark text-white">
    <div class="container py-5">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-2 text-center text-md-left">
                <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="components/index.html">Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="features.html">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pricing.html">Princing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="emailsignature.html">Email Signature</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Side Hustlers</a>
                </li>
                </ul>
            </div>
            <div class="col-md-2 text-center text-md-left">
                <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Press</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Privacy Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Legal</a>
                </li>
                </ul>
            </div>
            <div class="col-md-2 text-center">
                <img class="logo-sm" src="assets/images/demo/logo/logo-light.svg" alt="Logo">
            </div>
            <div class="col-md-4 text-center text-md-center">
                <ul class="socials">
                    <li><a href="" class="icon-twitter fs-20"></a></li>
                    <li><a href="" class="icon-medium fs-20"></a></li>
                </ul>
                <div>
                    <span class="copyright">© <!-- -->2019<!-- --> about.me<span class="trademark">™</span></span>
                </div>
            </div>
        </div>
    </div>
</footer>