
<div class="accordion-group" data-accordion-group>
    <div class="accordion open" data-accordion>
      <div class="accordion-control" data-control>
        <h5>Panel One</h5>
      </div>
      <div class="accordion-content" data-content>
        <div class="accordion-content-wrapper">
          <p>Lorem ipsum dolor sit amet</p>
        </div>
      </div>
    </div>
    <div class="accordion" data-accordion>
      <div class="accordion-control" data-control>
        <h5>Panel Two</h5>
      </div>
      <div class="accordion-content" data-content>
        <div class="accordion-content-wrapper">
          <p>Lorem ipsum dolor sit amet</p>
        </div>
      </div>
    </div>
    <div class="accordion" data-accordion>
      <div class="accordion-control" data-control>
        <h5>Panel Three</h5>
      </div>
      <div class="accordion-content" data-content>
        <div class="accordion-content-wrapper">
          <p>Lorem ipsum dolor sit amet</p>
        </div>
      </div>
    </div>
  </div>
  </div>