.input-group .component .boxed{
    border: 1px #4829B2 solid;
    cursor: pointer;
    height: 120px;
    color: #4829B2;
}

.input-group .component {
    height: 450px;
    overflow: scroll;
}

.input-group .component .boxed p{
    font-weight: bold;
    color: #4829B2;
}

.input-group .component .boxed i{
    font-size: 25px;
}

.input-group .component .boxed.selected{
    background: #bfb9ea;
}

.modal-header{
    padding-bottom: 0px;
}

#selected_spotlight{
    color: #4829B2;
    font-size:25px;
}

#selected_spotlight p{
    font-size:18px;
}

@media (min-width: 1600px) {
    .component {
        max-width: 100%;
    }
}
